{% extends 'base.html' %}
{% block title %}Crear Curso - SGA{% endblock %}
{% block header %}Crear Nuevo Curso{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label for="codigo" class="required">Código</label>
                    <input type="text" class="form-control" id="codigo" name="codigo" required>
                    <small class="form-text text-muted">Ejemplo: ICC5130</small>
                </div>
                <div class="form-group">
                    <label for="nombre" class="required">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                    <small class="form-text text-muted">Ejemplo: Diseño de Software Verificable</small>
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <a href="{{ url_for("cursos.index") }}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
